language: scala

addons:
  apt:
    packages:
      # Needed for `xmllint` which is used to validate pom files
      - libxml2-utils
      # Used to download maven xsd file
      - wget

before_install:
  - curl -sL https://github.com/shyiko/jabba/raw/master/install.sh | bash && . ~/.jabba/jabba.sh

install:
  - $JABBA_HOME/bin/jabba install $TRAVIS_JDK
  - unset _JAVA_OPTIONS
  - export JAVA_HOME="$JABBA_HOME/jdk/$TRAVIS_JDK" && export PATH="$JAVA_HOME/bin:$PATH" && java -Xmx32m -version

env:
  global:
    - JABBA_HOME=$HOME/.jabba
  matrix:
    - TRAVIS_JDK=adopt@1.8.192-12
    - TRAVIS_JDK=adopt@1.11.0-1

matrix:
  fast_finish: true
  allow_failures:
    # Java 11 is still not fully supported. It is good that we are already
    # testing ssl-config using it to better discover possible problems but
    # we can allow failures here too.
    - env: TRAVIS_JDK=adopt@1.11.0-1

scala:
  - 2.11.12
  - 2.12.8
  - 2.13.0-M3
  - 2.13.0-M5

script:
  - sbt ++$TRAVIS_SCALA_VERSION validateCode
  - sbt ++$TRAVIS_SCALA_VERSION test
  - sbt ++$TRAVIS_SCALA_VERSION doc
  - sbt ++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues
  - ./scripts/validate-pom-files.sh

cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt/boot/"
    - "$HOME/.jabba/jdk"

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

notifications:
  slack:
    secure: LC3oGnBYvbuSCd29HWghBrnfb48rsrG77wOgByZqzqfv/9UtNOBSzOcsqAacxrt74r5m0lh40xdL0curFZc9eYmIbfr/j5Hjej9pYpWHhOsA1wBDNhjxhRXTDSoCb/eP50DcjWtog8MkBbROiigU4lsHkP5vzZX1a/ltxJ8H4jM+ANXbCAqvMt6XdmhdV9Bd04VG/ZX4PQ2DtJdXrDX0SPJ9ozfsSOQwOsEHOqUVnu8fsJId7mkjr/PBlNPh3cnbjWQR029Ho7cRt5tYLVB/XUAJO5yzGmO88jtH/WSTGC+tpHC/GqE+uY1KSv5Lkz27YycXoO0ZVld5LZqBRBe3p68BDI74ZgmUlfc3SZWLOaP0/7/4+R+9YBURa+YAjwO4a8lb3HtEyWOcib6yrct0bLGzfbQgJs6GkMN+c5TJiCr+oSLF/vjvhhYg0f1eRrCeqpxUeXbQ+VPWC87LhQ0cRJYbYZQAcnt7kss1mFLhr+PTV27ifA8DzAZOhPpfKYRQLEyQc1mJ/kahmnbnHGG9fU9vdId2fG59G+qGCVdOMofpxj9ChMrTmZnjdaUBXJg9gWAsp3LeOY0/Vr+FRW/sfYFpT5lcj/IAH/qbVfg+7E+Ah/2jOMSybLVe6ejTocbwBH+08skM1pvfndkQnc3RZJgq8aUbEsGhrAn3P28ufmk=
